* text=auto eol=lf
*.png binary
*.aseprite binary
*.ase binary
/examples export-ignore
/tests export-ignore
/screenshots export-ignore
/docs export-ignore
/.github export-ignore
/gdlintrc export-ignore
